{% extends "base.html" %}

{% block contenido %}


  <div class="hero-unit">
        <h2>{{ foro.titulo }}</h2>
        <p>{{ foro.texto }}</p>
  </div>

<div class="well">
  <a class="btn btn-danger btn-large" href="/{{ foro.curso.pk }}/foro/{{ foro.pk }}/respuesta/">Responder al foro</a>
</div>

{% for r in foro.respuesta_set.all %}
	<div class="right" style="border: 1px solid #ddd; margin: 10px 0;">
		<h3 class="popover-title">{{ r.usuario.first_name }} {{ r.usuario.last_name }} - {{ r.fecha }} - <i class="icon-comment"></i> <a href="/{{ foro.curso.pk }}/foro/{{ foro.pk }}/respuesta/{{ r.pk }}/comentarios/">{{r.comentario_set.count}} comentarios</a></h3>
		<div class="popover-content">
			<p>{{ r.texto }}</p>
		</div>
	</div>
{% endfor %}

{% endblock %}


{% block js %}
	$('.popover').popover();
{% endblock %}