{% extends "miembros/base-miembro.html" %}

{% block colright %}
    	<div class="main-img">
            <img src="{{ STATIC_URL }}img/pic-4.jpg" alt="">
            <p class="lead">Tibique dolores adversarium ne vel. At vide errem duo, vis luptatum menandri ullamcorper id. </p>
        </div>
        
       
        
        
        <p>Haz realizado este cuestionario {{ aplicaciones|length }} vez</p>


        {% for respuesta in respuestas %}
        
            <p><strong>{{ respuesta.pregunta }}</strong></p>

                  <div class="row">
                    <div class="span6">

                      {% for res in respuesta.pregunta.quiz_respuesta_set.all %}
                    
                          {% if res == respuesta %}
                            {% if res.correcta %}
                            <span style="color:green;"><strong>{{ res }}</strong></span><br>
                            {% else %}
                            <span style="color:red;"><strong>{{ res }}</strong></span><br>
                            {% endif %}
                          {% else %}
                           <span>{{ res }}</span><br>
                          {% endif %}
                       

                      {% endfor %}

                      <br>
                      <span>La respuesta correcta es:</span>
                      {% for res in respuesta.pregunta.quiz_respuesta_set.all %}
                        {% if res.correcta %}
                          <span style="color: green;"><strong>{{ res }}</strong></span><br>
                        {% endif %}

                      {% endfor %}
                    </div>
                  </div>

            {% endfor %}

         
        
       
					
        
    
       
           
  

{% endblock %}