{% extends "miembros/base-miembro.html" %}

{% block colright %}
    	<div class="main-img">
            <img src="{{ MEDIA_URL }}{{ curso.imagen }}" alt="">
            <p class="lead">Avisos</p>
        </div>
        

       <div class=" builder-column col-lg-8 col-md-8 col-sm-8 eight lv-1 index-2 last ">
       <div class="bd-row clearfix row-2 lv-2 last">
        <div class="item-inner stpb-custom-event"> <div class="news-strip list">
       <ul>

        {% for aviso in avisos %}

        <li class="use-editor post-145 event type-event status-publish hentry clearfix img-type-full-width"  id="post-145">
    
            <div class="date-news">
                <strong>{{ aviso.fecha|date:'d' }}</strong>
                de {{ aviso.fecha|date:'M' }} del {{ aviso.fecha|date:'Y' }}
            </div>
            
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h5>
                    <a href="/cursos/{{ curso.slug }}/avisos/{{aviso.id}}/" title="{{ aviso }}"><i class="iconentypo-newspaper"></i>{{ aviso }}</a>
                </h5>
                <p>{{ aviso.texto }}</p>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>

</div>

</div>


    
       
           


{% endblock %}