{% extends "base.html" %}

{% block contenido %}
<div class="container">

<div class="row">
<h1 class="span12">{{ curso }}</h1>



<!-- =========================Start Col left section ============================= -->
<aside class="span4 ">
	<div class="col-left">
    	<h3>Menú</h3>
            <ul class="submenu-col">         
                <!--<li><a href="/cursos/{{ curso.slug }}/miembros/">Compañeros</a></li>-->
                <li><a href="/cursos/{{ curso.slug }}/clases/">Clases</a></li>
                <li><a href="/cursos/{{ curso.slug }}/avisos/">Avisos</a></li>
                <li><a href="/cursos/{{ curso.slug }}/tareas/">Tareas</a></li>
                <li><a href="/cursos/{{ curso.slug }}/foros/">Foros</a></li>
                <li><a href="/cursos/{{ curso.slug }}/quizzes/">Cuestionarios</a></li>
                <li><a href="/cursos/{{ curso.slug }}/vivo/">En vivo</a></li>
                

    
    
    
    
    
 

               
            </ul>
            
            <hr>
            
            <h5>Próximos cursos</h5>
            <p>Proximamente se estarán abriendo nuevos cursos relacionados a este mismo. Te invitamos a suscribirte y enterarte de los próximos cursos relacionados con tu interés</p>
            <p><a href="#" class=" button_red_small">Suscribirme</a></p>
            
    </div>
    <p><img src="{{ STATIC_URL }}img/banner.jpg" alt="Banner" class="img-rounded"></p>
</aside>

 <!-- =========================Start Col right section ============================= -->
<section class="span8  ">
	<div class="col-right">
        {% block colright %}



    	
        
       
   

        {% endblock %}
       
           
    </div><!-- end col right-->	
</section>
</div><!-- end row-->
</div> <!-- end container-->
  

{% endblock %}