{% extends "miembros/base-miembro.html" %}

{% block colright %}
    	<div class="main-img">
            <img src="{{ STATIC_URL}}img/pic-2.jpg" alt="">
            <p class="lead">Este es el contenido de tu clase. No olvides revisar la sección de tareas y quizzes.</p>
        </div>  
              
          
            
            
           
           
           <div>
{% for recurso in recursos %}

  <h4>{{ recurso.titulo }}</h4>
  <h6>{{ recurso.descripcion }}</h6>
  {% if recurso.tipo == 1 %}
  <iframe src="//www.slideshare.net/slideshow/embed_code/{{ recurso.url }}" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
  {% elif recurso.tipo == 2 %}
  <a href="{{ recurso.url }}" target="_blank">Abrir el archivo desde Dropbox</a>
  {% elif recurso.tipo == 3 %}
  <iframe width="560" height="315" src="//www.youtube.com/embed/{{ recurso.url }}" frameborder="0" allowfullscreen></iframe>
  {% elif recurso.tipo == 4 %}
  <a href="{{ recurso.url }}" target="_blank">Abrir el enlace web</a>
  {% endif %}
  <br>
  <br>
  <hr>
  <br>
  <br>
{% endfor %}
</div>
           

{% endblock %}