{% extends "miembros/base-miembro.html" %}

{% block colright %}

    	<div class="main-img">
            <img src="{{ MEDIA_URL }}{{ curso.imagen }}" alt="">
            <p class="lead">Estas son las clases que ya están disponibles para ti</p>
        </div>  
              
          
            
            {% for clase in clases %}
            <div class="strip-courses gray">
       		 <div class="title-course">
   			   <h3>{{ clase.titulo }}</h3>
               <ul>
               		  <li><i class="icon-calendar"></i>Disponibilidad: {{ clase.fecha_inicio }} - {{ clase.fecha_limite }}</li>
                    <li><i class="icon-bookmark"></i> Módulo: {{ clase.capitulo }}</li>
               </ul>
             </div>
                <div class="description">
                	<p>{{ clase.resumen }}</p>
                    <ul>
                    	<!--<li><i class="icon-book"></i>{{ clase.capitulo }}</li>
                        <li><i class="icon-reorder"></i> Level Basic</li>
                        <li class="online"><i class="icon-laptop"></i> Online</li>-->
                    </ul>
                    <a href="/cursos/{{ curso.slug }}/{{ clase.slug }}/" class="button_medium button-align-2">Ver clase</a>
                </div>
            </div><!-- end strip-->
            
            {% endfor %}
           
           
            
             <hr>
           
           <!--<div class="pagination pagination-centered">
               <ul>
                    <li><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">Next</a></li>
              </ul>
          </div>--><!-- end pagination-->


{% endblock %}