{% extends "miembros/base-miembro.html" %}

{% block colright %}
    	<div class="main-img">
            <img src="{{ MEDIA_URL }}{{ curso.imagen }}" alt="">
            <p class="lead">Estos son los foros disponibles para ti, no olvides entrar y participar.</p>
        </div>
        

        {% for foro in foros %}
        <div class="strip-staff">
                <div class="row">
                    <div class="span2 pic-teacher">
                        <div class="borders"><img src="{{ STATIC_URL }}img/teacher.jpg" alt="" class=" img-rounded"></div>
                    </div>
                    <div class="span5">
                        <h4>{{ foro }} <em>{{ foro.fecha }}</em></h4>
                        <p>
                            {{ foro.texto }}
                        </p>
                        <ul class="data-staff">
                            <p><a href="/cursos/{{ curso.slug }}/foros/{{ foro.id }}/" class="button_red_small" title="staff">Entrar</a></p>
                        </ul>
                    </div>
                </div>
            </div><!-- End Strip staff -->
        {% endfor %}
    
       

  

{% endblock %}