{% extends "miembros/base-miembro.html" %}

{% block colright %}

    	<div class="main-img">
            <img src="{{ STATIC_URL }}img/pic-2.jpg" alt="">
            <p class="lead">Ellos son quienes te acompañarán durante este curso</p>
        </div>
        
       
        
         <div class="widget borders widget-table">
                    
                    <div class="widget-header">
                        <h5>Miembros</h5>
                    </div> <!-- .widget-header -->
                    
                    <div class="widget-content">
                        <table class="table table-bordered table-striped">
                            
                            <thead>
                            <tr>                                
                                <th>Nombre</th>
                                <th>Correo</th>
                            </tr></thead>
                    
                            <tbody>

                                {% for miembro in miembros %}
                                <tr>
                                    <td>{{ miembro.first_name }} {{ miembro.last_name }}</td>
                                    <td>{{ miembro }}</td>
                                </tr>
                                {% endfor %}
 
                            </tbody>
                        </table>
                        
                    </div> <!-- .widget-content -->
                    
        </div> <!-- /widget --> 


       
    {% endblock %}
   