{% extends "base.html" %}

{% block contenido %}

<h4>Lista de la fecha {{ clase.lista.fecha }}</h4>

{% if user.userprofile.tipo == 1 or user.userprofile.tipo == 2 %}

<div class="span9">
<form action="" method="POST">{% csrf_token %}
{% for alumno in alumnos %}
    <label class="checkbox"><input type="checkbox" name="inalumnos" value="{{alumno.usuario.pk}}" {% if alumno.asis %}CHECKED="CHECKED"{% endif %} />{{alumno.usuario.username}} {{ alumno.usuario.last_name }}, {{ alumno.usuario.first_name }} </label>
{% endfor %}
<button type="submit" class="btn">Guardar</button>
</form>
</div>

{% endif %}






{% if user.userprofile.tipo == 3 %}
<table>
	<thead>
		<th>Nombre</th>
		{% for l in lista %}
		<th>{{ l.fecha }}</th>
		{% endfor %}
	</thead>
	<tbody>
		<tr>
			<td>{{ user.last_name }} {{ user.first_name }}</td>
			{% for sis in asistencia %}
			<td>{{sis.asis}}</td>
			{% endfor %}
		</tr>
	</tbody>
</table>
{% endif %}
{% endblock %}

