
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
</head>
<body>
	{% if user.userprofile.tipo == 1 or user.userprofile.tipo == 2 %}
	<a href="/{{ curso }}/aviso/">Nuevo Aviso</a>

    {% endif %}
    <ul>
    {% for aviso in avisos %}
        <li>{{ aviso.texto }}</li>
        <a href="/{{ curso }}/aviso/{{ aviso.pk }}/"> Comentar </a>
        &nbsp;
        <h4><a href="/{{ curso }}/aviso/{{ aviso.pk }}/comentarios/"> Ver comentarios </a> </h4>
    {% endfor %}
    </ul>
    
</body>
</html>
