{% extends "base.html" %}

{% block contenido %}



<div class="fluid">

    {{ respuesta.texto }}
    
    <form id="validate" class="main" method="post" action="">{% csrf_token %}
        <fieldset>
            <div class="widget">
                <div class="whead"><h6>Nuevo comentario</h6><div class="clear"></div></div>
                {% for field in formulario %}
                    {% if field.errors %}
                        <div class="field-block button-height">
                            <label for="login" class="label"><b>{{ field.label }}</b></label>
                            {{ field }}
                        </div>
                        {% for error in  field.errors %}{{ error }}{% endfor %}
                    {% else %}
                        <div class="formRow">
                            <div class="grid3"><label>{{ field.label }}:</label></div>
                            <div class="grid9">{{ field }}</div><div class="clear"></div>
                        </div>
                        {% if field.help_text %}
                            {{ field.help_text }}
                        {% endif %}

                    {% endif %}
                {% endfor %}
                <div class="formRow"><input type="submit" value="Guardar" class="buttonM bBlack formSubmit" /><div class="clear"></div></div>
                <div class="clear"></div>
            </div>
        </fieldset>
    </form>


    {% for c in respuesta.comentario_set.all %}
    <div class="right" style="border: 1px solid #ddd; margin: 10px 0;">
        <h3 class="popover-title">{{ c.usuario.first_name }} {{ c.usuario.last_name }} - {{ c.fecha }}</h3>
        <div class="popover-content">
            <p>{{ c.texto }}</p>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}
