<html>
<body>
<div class="fluid">
    <form id="validate" class="main" method="post" action="">{% csrf_token %}
        <fieldset>
            <div class="widget">
                <div class="whead"><h6>Nuevo aviso</h6><div class="clear"></div></div>
                {% for field in formulario %}
                    {% if field.errors %}
                        <div class="field-block button-height">
                            <label for="login" class="label"><b>{{ field.label }}</b></label>
                            {{ field }}
                        </div>
                        {% for error in  field.errors %}{{ error }}{% endfor %}
                    {% else %}
                        <div class="formRow">
                            <div class="grid3"><label>{{ field.label }}:</label></div>
                            <div class="grid9">{{ field }}</div><div class="clear"></div>
                        </div>
                        {% if field.help_text %}
                            {{ field.help_text }}
                        {% endif %}

                    {% endif %}
                {% endfor %}
                <div class="formRow"><input type="submit" value="Guardar" class="buttonM bBlack formSubmit" /><div class="clear"></div></div>
                <div class="clear"></div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>
