{% extends "base.html" %}

{% block contenido %}
<div class="container">

<div class="row">
<h1 class="span12">{{ curso }}</h1>


<!-- =========================Start Col left section ============================= -->
<aside class="span4 ">
	<div class="col-left">
    	<h3>Menú</h3>
            <ul class="submenu-col">         
                <li><a href="/cursos/{{ curso.slug }}/miembros/">Alumnos</a></li>
                <li><a href="/cursos/{{ curso.slug }}/capitulos/">Módulos</a></li>
                <li><a href="/cursos/{{ curso.slug }}/clases/">Clases</a></li>
                <li><a href="/cursos/{{ curso.slug }}/avisos/">Avisos</a></li>
                <li><a href="/cursos/{{ curso.slug }}/tareas/">Tareas</a></li>
                <li><a href="/cursos/{{ curso.slug }}/foros/">Foros</a></li>
                <li><a href="/cursos/{{ curso.slug }}/quizzes/">Evaluaciones</a></li>
                <li><a href="/cursos/{{ curso.slug }}/vivo/">En vivo</a></li>
                <hr>
                <li><a href="/cursos/{{ curso.slug }}/grade-center/">Centro de evaluación</a></li>
                

    
    
    
    
    
 

               
            </ul>
            
            <hr>
            
            <h5>Próximas mejoras</h5>
            <p>La plataforma sigue en desarrollo, te invitamos a estar pendientes de las nuevas características en el blog de noticias</p>
            <p><a href="#" class=" button_red_small">ver blog</a></p>
            
    </div>
    <p><img src="{{ STATIC_URL }}img/banner.jpg" alt="Banner" class="img-rounded"></p>
</aside>

 <!-- =========================Start Col right section ============================= -->
<section class="span8  ">
	<div class="col-right">
        {% block colright %}



    	
        
       
   

        {% endblock %}
       
           
    </div><!-- end col right-->	
</section>
</div><!-- end row-->
</div> <!-- end container-->
  

{% endblock %}