{% extends "usuarios/base-usuario.html" %}

{% block colright %}

    	<div class="main-img">
            <img src="{{ MEDIA_URL }}{{ curso.imagen }}" alt="">
            <p class="lead">Cápítulos</p>
        </div>
        
    
        {% if messages %}
		    {% for message in messages %}
		     <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
		    {% endfor %}
		{% endif %}
        <div class="widget borders widget-table">
					
					<div class="widget-header">
						<h5>Capítulos</h5>
					</div> <!-- .widget-header -->
					
					<div class="widget-content">
						<table class="table table-bordered table-striped">
							
							<thead>
                            <tr>								
								<th>Nombre</th>
								<th>Resumen</th>
                                <th>Eliminar</th>
							</tr></thead>
					
						<tbody>
                        {% for cap in capitulos %}
                        <tr>
							<td>{{ cap.nombre }}</td>
							<td>{{ cap.resumen }}</td>
                            <td class="center"><a href="/cursos/{{ curso.slug }}/capitulos/{{ cap.id }}/del/"><i class="fa fa-minus-circle"></i></a></td>
						</tr>
                        {% endfor %}
                        
                      
					</tbody></table>
						
					</div> <!-- .widget-content -->
					
		</div> <!-- /widget -->	
        
    
        <p class="text-center"><a href="/cursos/{{ curso.slug }}/capitulos/nuevo/" class="button_large">Nuevo capítulo</a></p>
       
           

  

{% endblock %}