{% extends "base.html" %}

{% block contenido %}

<div class="container">

<div class="row">
<h1 class="span12">Administración de Clase</h1>
	<div class="span12">
        <ul class="breadcrumb">
          <li><a href="http://www.ansonika.com/edu/index.html">Inicio</a> <span class="divider">/</span></li>
          <li class="active">Administración de Clase</li>
        </ul>
    </div>
<!-- =========================Start Col left section ============================= -->
<aside class="span4 ">
	<div class="col-left">
    	<h3>Menú</h3>
            <ul class="submenu-col">
                <li><a href="#" id="active">Agregar recurso</a></li>
                <li><a href="http://www.ansonika.com/edu/course-detail.html">+ Stream</a></li>
                <li><a href="http://www.ansonika.com/edu/course-detail.html">+ Slideshare</a></li>
                <li><a href="http://www.ansonika.com/edu/course-detail.html">+ Youtube <img src="cursos_files/new.png" alt="New"></a></li>
                <li><a href="http://www.ansonika.com/edu/course-detail.html">+ Dropbox</a></li>
                <li><a href="http://www.ansonika.com/edu/course-detail.html">Agregar Tarea</a></li>
            </ul>
            
            <hr>
            
            <h5>Oportunidades</h5>
            <p>En esta sección mostrar un mensaje al usuario sobre oportunidades que tiene dentro de la plataforma o nuevos desarrollos que estamos creando.</p>
            <p><a href="#" class=" button_red_small">Ver oportunidades</a></p>
            
    </div>
    <p><img src="cursos_files/banner.jpg" alt="Banner" class="img-rounded"></p>
</aside>
 
<section class="span8  ">
	<div class="col-right">
    	<div class="main-img">
            <img src="cursos_files/pic-2.jpg" alt="">
            <p class="lead">Desde este panel podrás administrar cada uno de tus cursos. </p>
        </div>  
              
           
            
            
        
           
           
            
    </div><!-- end col right-->
	
</section>

  </div><!-- end row-->
  </div> <!-- end container-->

{% endblock %}