{% extends "usuarios/base-usuario.html" %}

{% block colright %}
    	<div class="main-img">
            <img src="{{ MEDIA_URL}}{{ curso.imagen }}" alt="">
            <p class="lead">Tus clases</p>
        </div>  
        {% if messages %}
            {% for message in messages %}
             <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
              
           
            
            {% for clase in clases %}
            <div class="strip-courses gray">
       		 <div class="title-course">
   			   <h3>{{ clase.titulo }}</h3>
               <ul>
               	    <li><i class="icon-calendar"></i> Disponibilidad: {{ clase.fecha_inicio }} - {{ clase.fecha_limite }}</li>
                    <li><i class="icon-bookmark"></i> Módulo: {{ clase.capitulo }}</li>
               </ul>
             </div>
                <div class="description">
                	<p>{{ clase.resumen }}</p>
                    <ul>
                    	<!--<li><i class="icon-book"></i> 10 Lessons</li>
                        <li><i class="icon-reorder"></i> Level Basic</li>
                        <li class="online"><i class="icon-laptop"></i> Online</li>-->
                    </ul>
                    <a href="/cursos/{{ curso.slug }}/{{ clase.slug }}/" class="button_medium button-align-2">Ver clase</a>
                    <a href="/cursos/{{ curso.slug }}/{{ clase.slug }}/" class="btn btn-danger">Eliminar clase</a>
                </div>
            </div><!-- end strip-->
            
            {% endfor %}
           
           
            
             <hr>
            
            <!--<p class="text-center"><a href="/cursos/{{ curso.slug }}/capitulos/nuevo/" class="button_large">Nuevo capítulo</a></p>-->
            <p class="text-center"><a href="/cursos/{{ curso.slug }}/clases/nuevo/" class="button_large">Nueva clase</a></p>


{% endblock %}