{% extends "usuarios/base-usuario.html" %}

{% block colright %}
    	<div class="main-img">
            <img src="{{ STATIC_URL }}cursos_files/pic-2.jpg" alt="">
            <p class="lead">Desde este panel podrás administrar cada uno de tus cursos. </p>
        </div>  
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Agregar Recurso
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/cursos/{{ curso.slug }}/{{ clase.slug }}/recurso/slideshare/">Slideshare</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/cursos/{{ curso.slug }}/{{ clase.slug }}/recurso/dropbox/">Dropbox</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/cursos/{{ curso.slug }}/{{ clase.slug }}/recurso/youtube/">Youtube</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/cursos/{{ curso.slug }}/{{ clase.slug }}/recurso/weblink/">Weblink</a></li>
  </ul>
</div>





<div>
{% for recurso in recursos %}

	<h4>{{ recurso.titulo }}</h4>
	<h6>{{ recurso.descripcion }}</h6>
	{% if recurso.tipo == 1 %}
	<iframe src="//www.slideshare.net/slideshow/embed_code/{{ recurso.url }}" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
	{% elif recurso.tipo == 2 %}
	<a href="{{ recurso.url }}" target="_blank">Abrir el archivo desde Dropbox</a>
	{% elif recurso.tipo == 3 %}
	<iframe width="560" height="315" src="//www.youtube.com/embed/{{ recurso.url }}" frameborder="0" allowfullscreen></iframe>
	{% elif recurso.tipo == 4 %}
	<a href="{{ recurso.url }}" target="_blank">Abrir el enlace web</a>
	{% endif %}
  <br>
  <br>
  <a href="/cursos/{{ curso.slug }}/{{ clase.slug }}/recursos/{{ recurso.id }}/del/" class="btn btn-danger">Eliminar recurso</a>
  <hr>
  <br>
  <br>
{% endfor %}
</div>
              
           
            
            
        
           
           
            


{% endblock %}