{% extends "usuarios/base-usuario.html" %}

{% block colright %}
    	<div class="main-img">
            <img src="{{ MEDIA_URL }}{{ curso.imagen }}" alt="">
            <p class="lead">Clase: {{ clase.titulo }}, Capítulo: {{ clase.capitulo }}</p>
        </div>  
        {% if messages %}
        {% for message in messages %}
         <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Agregar Recurso
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/cursos/{{ curso.slug }}/{{ clase.slug }}/recurso/slideshare/">Slideshare</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/cursos/{{ curso.slug }}/{{ clase.slug }}/recurso/dropbox/">Dropbox</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/cursos/{{ curso.slug }}/{{ clase.slug }}/recurso/youtube/">Youtube</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/cursos/{{ curso.slug }}/{{ clase.slug }}/recurso/weblink/">Weblink</a></li>
  </ul>
</div>





<div>
{% for recurso in recursos %}

	<h4>{{ recurso.titulo }}</h4>
	<h6>{{ recurso.descripcion }}</h6>
	{% if recurso.tipo == 1 %}
	<iframe src="//www.slideshare.net/slideshow/embed_code/{{ recurso.url }}" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
	{% elif recurso.tipo == 2 %}
  <i class="fa fa-dropbox fa-2x"></i>
	<a href="{{ recurso.url }}" target="_blank">Abrir el archivo desde Dropbox</a>
	{% elif recurso.tipo == 3 %}
	     {{ recurso.url|safe }}
	{% elif recurso.tipo == 4 %}
  <i class="fa fa-external-link-square fa-2x"></i>
	<a href="{{ recurso.url }}" target="_blank">Abrir el enlace web</a>
	{% endif %}
  <br>
  <br>
  <a href="/cursos/{{ curso.slug }}/{{ clase.slug }}/recursos/{{ recurso.id }}/del/" class="btn btn-danger">Eliminar recurso</a>
  <hr>
  <br>
  <br>
{% endfor %}
</div>
              
           
            
            
        
           
           
            


{% endblock %}