{% extends "base.html" %}

{% block contenido %}
<div class="container">

<div class="row">
<h1 class="span12">Panel de administración</h1>
	<div class="span12">
        <ul class="breadcrumb">
          <li><a href="#">Inicio</a> <span class="divider">/</span></li>
          <li class="active">Panel de administración</li>
        </ul>
    </div>
<!-- =========================Start Col left section ============================= -->
<aside class="span4 ">
	<div class="col-left">
    	<h3>Menú</h3>
            <ul class="submenu-col">
                <li><a href="/">Inicio</a></li>
                <li><a href="/cursos/" id="active">Mis cursos</a></li>
                <li><a href="/info/">Mi información</a></li>
            </ul>
            
            <hr>
            
            <h5>Oportunidades</h5>
            <p>En esta sección mostrar un mensaje al usuario sobre oportunidades que tiene dentro de la plataforma o nuevos desarrollos que estamos creando.</p>
            <p><a href="#" class=" button_red_small">Ver oportunidades</a></p>
            
    </div>
    <p><img src="{{ STATIC_URL }}img/banner.jpg" alt="Banner" class="img-rounded"></p>
</aside>
 
<section class="span8  ">
	<div class="col-right">
    	<div class="main-img">
            <img src="{{ STATIC_URL}}img/pic-2.jpg" alt="">
            <p class="lead">Desde este panel podrás administrar cada uno de tus cursos. </p>
        </div>  
              
          
            
            {% for curso in cursos %}
            <div class="strip-courses gray">
       		 <div class="title-course">
   			   <h3>{{ curso.nombre }}</h3>
               <ul>
               		<li><i class="icon-calendar"></i> Start date: 24/06/13</li>
                    <li><i class="icon-bookmark"></i> ID: 012</li>
               </ul>
             </div>
                <div class="description">
                	<p>{{ curso.resumen }}</p>
                    <ul>
                    	<li><i class="icon-book"></i> 10 Lessons</li>
                        <li><i class="icon-reorder"></i> Level Basic</li>
                        <li class="online"><i class="icon-laptop"></i> Online</li>
                    </ul>
                    <a href="/cursos/{{ curso.slug }}/" class="button_medium button-align-2">Ver curso</a>
                </div>
            </div><!-- end strip-->
            
            {% endfor %}
           
           
            
             <hr>
           
           <div class="pagination pagination-centered">
               <ul>
                    <li><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">Next</a></li>
              </ul>
          </div><!-- end pagination-->
           
    </div><!-- end col right-->
	
</section>

  </div><!-- end row-->
  </div> <!-- end container-->
{% endblock %}