{% extends "usuarios/base-usuario.html" %}

{% block colright %}
    	<div class="main-img">
            <img src="{{ STATIC_URL }}img/pic-2.jpg" alt="">
            <p class="lead">Tibique dolores adversarium ne vel. At vide errem duo, vis luptatum menandri ullamcorper id. </p>
        </div>
        
       
        <h4>{{ foro }}</h4>

        <p class="lead">{{ foro.texto }}</p>



        {% for comentario in comentarios %}
            <div class="strip-courses gray">
             <div class="title-course">
               <h3>{{ comentario.usuario.first_name }}</h3>
               <ul>
                    <li><i class="icon-calendar"></i> Fecha: {{ comentario.fecha }}</li>
               </ul>
             </div>
                <div class="description">
                    <p>{{ comentario.comentario }}</p>
                    
                </div>
            </div><!-- end strip-->
            
            {% endfor %}
           

       
    
        <p class="text-center"><a href="/cursos/{{ curso.slug }}/foros/{{ foro.id }}/comentar/" class="button_large">Participar </a></p>
       
  

{% endblock %}