{% extends "usuarios/base-usuario.html" %}

{% block colright %}
    	<div class="main-img">
            <img src="{{ MEDIA_URL }}{{ curso.imagen }}" alt="">
            <p class="lead">Foros</p>
        </div>
        


        <div class="widget borders widget-table">
                    
                    <div class="widget-header">
                        <h5>Foros</h5>
                    </div> <!-- .widget-header -->
                    
                    <div class="widget-content">
                        <table class="table table-bordered table-striped">
                            
                            <thead>
                            <tr>                                
                                <th>Nombre</th>
                                <th>Fecha de creación</th>
                                <th>Texto</th>
                                <th>Ver</th>
                                <th>Eliminar</th>
                            </tr></thead>
                    
                            <tbody>

                                {% for foro in foros %}
                                <tr>
                                    <td>{{ foro }}</td>
                                    <td>{{ foro.fecha }}</td>
                                    <td>{{ foro.texto }}</td>
                                    <td class="center"> <a href="/cursos/{{ curso.slug }}/foros/{{ foro.id }}/"><i class="fa fa-eye fa-lg"></i></a> </td>
                                    <td class="center"> <a href="/cursos/{{ curso.slug }}/foros/del/"><i class="fa fa-minus-circle fa-lg"></i></a> </td>
                                </tr>
                                {% endfor %}
 
                            </tbody>
                        </table>
                        
                    </div> <!-- .widget-content -->
                    
        </div> <!-- /widget --> 


        
    
        <p class="text-center"><a href="/cursos/{{ curso.slug }}/foros/nuevo/" class="button_large">Nuevo foro </a></p>
       
           

  

{% endblock %}