{% extends "usuarios/base-usuario.html" %}

{% block colright %}
    	<div class="main-img">
            <img src="{{ MEDIA_URL }}{{ curso.imagen }}" alt="">
            <p class="lead">Centro de evaluación</p>
        </div>
        
       
        
        
        
        <div class="widget borders widget-table">
                    
                    <div class="widget-header">
                        <h5>Cuestionario</h5>
                    </div> <!-- .widget-header -->
                    
                    <div class="widget-content">
                        <table class="table table-bordered table-striped">
                            
                            <thead>
                            <tr>                                
                                <th>Cuestionario</th>
                                <th>Fecha de inicio</th>
                                <th>Fecha de término</th>
                                <th>Aplicaciones</th>
                            </tr></thead>
                    
                            <tbody>

                                {% for quiz in quizzes %}
                                <tr>
                                    <td>{{ quiz }}</td>
                                    <td>{{ quiz.fecha_inicio }}</td>
                                    <td>{{ quiz.fecha_limite }}</td>
                                    <td class="center"> <a href="/cursos/{{ curso.slug }}/grade-center/quizzes/{{ quiz.id }}/"><i class="fa fa-eye fa-lg"></i></a> </td>
                                </tr>
                                {% endfor %}
 
                            </tbody>
                        </table>
                        
                    </div> <!-- .widget-content -->
                    
        </div> <!-- /widget --> 


        <div class="widget borders widget-table">
                    
                    <div class="widget-header">
                        <h5>Tareas</h5>
                    </div> <!-- .widget-header -->
                    
                    <div class="widget-content">
                        <table class="table table-bordered table-striped">
                            
                            <thead>
                            <tr>                                
                                <th>Título</th>
                                <th>Descripción</th>
                                <th>Fecha límite</th>
                                <th>Aplicaciones</th>
                            </tr></thead>
                    
                            <tbody>

                                {% for tarea in tareas %}
                                <tr>
                                    <td>{{ tarea.titulo }}</td>
                                    <td>{{ tarea.descripcion }}</td>
                                    <td>{{ tarea.fecha_limite }}</td>
                                    <td class="center"><a href="/cursos/{{ curso.slug }}/grade-center/tareas/{{ tarea.id }}/"><i class="fa fa-eye fa-lg"></i></a> </td>
                                </tr>
                                {% endfor %}
 
                            </tbody>
                        </table>
                        
                    </div> <!-- .widget-content -->
                    
        </div> <!-- /widget --> 


      
        
      

    
					
        
    

  

{% endblock %}