{% extends "usuarios/base-usuario.html" %}

{% block colright %}
    	<div class="main-img">
            <img src="{{ MEDIA_URL }}{{ curso.imagen }}" alt="">
            <p class="lead">Aplicaciones de evaluación</p>
        </div>
        
       
        
        
        
        <div class="widget borders widget-table">
                    
                    <div class="widget-header">
                        <h5>Aplicaciones</h5>                        
                    </div> <!-- .widget-header -->
                    
                    <div class="widget-content">
                        <table class="table table-bordered table-striped">
                            
                            <thead>
                            <tr>                                
                                <th>Usuario</th>
                                <th>Fecha de inicio</th>
                                <th>Fecha de término</th>
                                <th>Ver respuestas</th>
                            </tr></thead>
                    
                            <tbody>

                                {% for aplicacion in aplicaciones %}
                                <tr>
                                    <td>{{ aplicacion.usuario.first_name }} {{ aplicacion.usuario.last_name }}</td>
                                    <td>{{ aplicacion.fecha_inicio }}</td>
                                    <td>{{ aplicacion.fecha_termino }}</td>
                                    <td class="center"> <a href="/cursos/{{ curso.slug }}/grade-center/quizzes/{{ quiz }}/{{ aplicacion.id }}/"><i class="fa fa-eye fa-lg"></i></a> </td>
                                </tr>
                                {% endfor %}
 
                            </tbody>
                        </table>
                        
                    </div> <!-- .widget-content -->
                    
        </div> <!-- /widget --> 


       
      
        
      

    
					
        
    

  

{% endblock %}