{% extends "usuarios/base-usuario.html" %}

{% block colright %}
    	<div class="main-img">
            <img src="{{ STATIC_URL }}img/pic-4.jpg" alt="">
            <p class="lead">Tibique dolores adversarium ne vel. At vide errem duo, vis luptatum menandri ullamcorper id. </p>
        </div>
        
       
        
        
        
        <div class="widget borders widget-table">
                    
                    <div class="widget-header">
                        <h5>Aplicaciones</h5>                        
                    </div> <!-- .widget-header -->
                    
                    <div class="widget-content">
                        <table class="table table-bordered table-striped">
                            
                            <thead>
                            <tr>                                
                                <th>Usuario</th>
                                <th>Intentos</th>
                                <th>Fecha de inicio</th>
                                <th>Fecha de término</th>
                                <th>Ver respuestas</th>
                            </tr></thead>
                    
                            <tbody>

                                {% for aplicacion in aplicaciones %}
                                <tr>
                                    <td>{{ aplicacion.usuario }}</td>
                                    <td>{{ aplicacion.intentos }}</td>
                                    <td>{{ aplicacion.fecha_inicio }}</td>
                                    <td>{{ aplicacion.fecha_limite }}</td>
                                    <td> <a href="/cursos/{{ curso.slug }}/grade-center/quizzes/{{ quiz }}/{{ aplicacion.id }}/">X</a> </td>
                                </tr>
                                {% endfor %}
 
                            </tbody>
                        </table>
                        
                    </div> <!-- .widget-content -->
                    
        </div> <!-- /widget --> 


       
      
        
      

    
					
        
    

  

{% endblock %}