{% extends "usuarios/base-usuario.html" %}

{% block colright %}
    	<div class="main-img">
            <img src="{{ MEDIA_URL }}{{ curso.imagen }}" alt="">
            <p class="lead">Preguntas de la Evaluación: {{ quiz }}</p>
        </div>
        
       
      <div class="widget borders widget-table">
                    
                    <div class="widget-header">
                        <h5>Preguntas</h5>
                    </div> <!-- .widget-header -->
                    
                    <div class="widget-content">
                        <table class="table table-bordered table-striped">
                            
                            <thead>
                            <tr>                                
                                <th>Pregunta</th>
                                <!--<th>Ver</th>-->
                                <th>Eliminar</th>
                            </tr></thead>
                    
                            <tbody>

                                {% for pregunta in preguntas %}
                                <tr>
                                    <td>{{ pregunta }}</td>
                                    <!--<td class="center"><a href="/cursos/{{ curso.slug }}/quizzes/{{ quiz.id }}/preguntas/{{ pregunta.id }}/"><i class="fa fa-eye fa-lg"></i></a></td>-->
                                    <td class="center"><a href=""><i class="fa fa-minus-circle fa-lg"></i></a></td>
                                </tr>
                                {% endfor %}
 
                            </tbody>
                        </table>
                        
                    </div> <!-- .widget-content -->
                    
        </div> <!-- /widget --> 
					
        
    
        <p class="text-center"><a href="/cursos/{{ curso.slug }}/quizzes/{{ quiz.id }}/preguntas/nuevo" class="button_large">Nueva pregunta </a></p>
       

{% endblock %}