{% extends "usuarios/base-usuario.html" %}

{% block colright %}
    	<div class="main-img">
            <img src="{{ MEDIA_URL }}{{ curso.imagen }}" alt="">
            <p class="lead">Evaluaciones</p>
        </div>
        
       
        
        
        
        <div class="widget borders widget-table">
                    
                    <div class="widget-header">
                        <h5>Evaluaciones</h5>
                    </div> <!-- .widget-header -->
                    
                    <div class="widget-content">
                        <table class="table table-bordered table-striped">
                            
                            <thead>
                            <tr>                                
                                <th>Evaluación</th>
                                <th>Fecha de inicio</th>
                                <th>Fecha de término</th>
                                <th>Ver</th>
                                <th>Eliminar</th>
                            </tr></thead>
                    
                            <tbody>

                                {% for quiz in quizes %}
                                <tr>
                                    <td>{{ quiz }}</td>
                                    <td>{{ quiz.fecha_inicio }}</td>
                                    <td>{{ quiz.fecha_limite }}</td>
                                    <td class="center"><a href="/cursos/{{ curso.slug }}/quizzes/{{ quiz.id }}/"><i class="fa fa-eye fa-lg"></i></a></td>
                                    <td class="center"><a href="#"><i class="fa fa-minus-circle fa-lg"></i></a></td>
                                </tr>
                                {% endfor %}
 
                            </tbody>
                        </table>
                        
                    </div> <!-- .widget-content -->
                    
        </div> <!-- /widget --> 


      
        
      

    
					
        
    
        <p class="text-center"><a href="/cursos/{{ curso.slug }}/quizzes/nuevo/" class="button_large">Nueva Evaluación</a></p>

  

{% endblock %}