{% extends "base.html" %}

{% block contenido %}
<div class="container">

<div class="row">
<h1 class="span12">{{ curso }}</h1>

<div class="span12">
    <ul class="breadcrumb">
      <li><a href="/cursos/{{ curso }}/">{{ curso }}</a> <span class="divider">/</span></li>
      <li class="active">Quizes</li>
    </ul>
</div>

<!-- =========================Start Col left section ============================= -->
<aside class="span4 ">
	<div class="col-left">
    	<h3>Menú</h3>
            <ul class="submenu-col">
                <li><a href="/cursos/{{ curso.slug }}/miembros/">Miembros</a></li>
                <li><a href="/cursos/{{ curso.slug }}/capitulos/">Capítulos</a></li>
                <li><a href="/cursos/{{ curso.slug }}/clases/">Clases</a></li>
                <li><a href="/cursos/{{ curso.slug }}/avisos/">Avisos</a></li>
                <li><a href="/cursos/{{ curso.slug }}/foros/">Foros</a></li>
                <li><a href="/cursos/{{ curso.slug }}/quizes/">Quizzes</a></li>

    
    
    
    
    
 

               
            </ul>
            
            <hr>
            
            <h5>Upcoming Courses</h5>
            <p>Suspendisse quis risus turpis, ut pharetra arcu. Donec 
adipiscing, quam non faucibus luctus, mi arcu blandit diam, at faucibus 
mi ante vel augue.</p>
            <p><a href="#" class=" button_red_small">View Courses</a></p>
            
    </div>
    <p><img src="{{ STATIC_URL }}img/banner.jpg" alt="Banner" class="img-rounded"></p>
</aside>

 <!-- =========================Start Col right section ============================= -->
<section class="span8  ">
	<div class="col-right">
    	<div class="main-img">
            <img src="{{ STATIC_URL }}img/pic-4.jpg" alt="">
            <p class="lead">Tibique dolores adversarium ne vel. At vide errem duo, vis luptatum menandri ullamcorper id. </p>
        </div>
        
       
        
        
        
        <div class="widget borders widget-table">
                    
                    <div class="widget-header">
                        <h5>Miembros</h5>
                    </div> <!-- .widget-header -->
                    
                    <div class="widget-content">
                        <table class="table table-bordered table-striped">
                            
                            <thead>
                            <tr>                                
                                <th>Quiz</th>
                                <th>Intentos</th>
                                <th>Fecha de inicio</th>
                                <th>Fecha de término</th>
                                <th>Eliminar</th>
                            </tr></thead>
                    
                            <tbody>

                                {% for quiz in quizes %}
                                <tr>
                                    <td>{{ quiz }}</td>
                                    <td>{{ quiz.intentos }}</td>
                                    <td>{{ quiz.fecha_inicio }}</td>
                                    <td>{{ quiz.fecha_limite }}</td>
                                    <td> <a href="">X</a> </td>
                                </tr>
                                {% endfor %}
 
                            </tbody>
                        </table>
                        
                    </div> <!-- .widget-content -->
                    
        </div> <!-- /widget --> 


      
        
      

    
					
        
    
        <p class="text-center"><a href="/cursos/{{ curso.slug }}/quizes/nuevo/" class="button_large">Nuevo Quizz </a></p>
       
           
    </div><!-- end col right-->	
</section>
</div><!-- end row-->
</div> <!-- end container-->
  

{% endblock %}