{% extends "usuarios/base-usuario.html" %}

{% block colright %}
    	<div class="main-img">
            <img src="{{ MEDIA_URL }}{{ curso.imagen }}" alt="">
            <p class="lead">Tareas</p>
        </div>
        
       
        
        
        
        <div class="widget borders widget-table">
                    
                    <div class="widget-header">
                        <h5>Tareas</h5>
                    </div> <!-- .widget-header -->
                    
                    <div class="widget-content">
                        <table class="table table-bordered table-striped">
                            
                            <thead>
                            <tr>                                
                                <th>Título</th>
                                <th>Descripción</th>
                                <th>Fecha límite</th>
                            </tr></thead>
                    
                            <tbody>

                                {% for tarea in tareas %}
                                <tr>
                                    <td>{{ tarea.titulo }}</td>
                                    <td>{{ tarea.descripcion }}</td>
                                    <td>{{ tarea.fecha_limite }}</td>
                                </tr>
                                {% endfor %}
 
                            </tbody>
                        </table>
                        
                    </div> <!-- .widget-content -->
                    
        </div> <!-- /widget --> 


      
        
      

    
					
        
    
        <p class="text-center"><a href="/cursos/{{ curso.slug }}/tareas/nuevo/" class="button_large">Nueva Tarea</a></p>

  

{% endblock %}